<!DOCTYPE html>
<html>
    <head>
        <title>Eileen's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 20.09.2025, 14:30</time>
            <h2><a href="">My first post</a></h2>
            <p>My recipe for a lovely pilau rice. </p>
        </article>

        <article>
            <time>published: 20.09.2025, 14:31</time>
            <h2><a href="">My second post</a></h2>
            <p>Another recipe for a chocolate cake.</p>
        </article>
    </body>
</html>